<?xml version="1.0" encoding="utf-8" standalone="no"?>
<application xmlns="http://ns.adobe.com/air/application/3.6">
	<id>com.example.StreamTest</id>
	<filename>StreamTest</filename>
	<name>StreamTest</name>
	<versionNumber>0.0.1</versionNumber>

	<initialWindow>
		<content>Main.swf</content>
		<width>1920</width>
		<height>1080</height>
    <renderMode>direct</renderMode>
   	<autoOrients>false</autoOrients>
    <aspectRatio>landscape</aspectRatio> 
    <fullScreen>false</fullScreen>
    <visible>true</visible>
  </initialWindow>
</application>
